body {
    background-color: rgb(24, 33, 24);
    color: white;
    font-family: 'Arial';
    margin: 20px;
}

#page-header {
    font-family: 'Arial Black';
    justify-content: center;
}



fieldset {
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    background-color: rgb(50, 80, 50);
} 

form {
    max-width: 600px; /* Increase the width to accommodate larger inputs */
    margin: 0 auto;
}

.form-field {
    display: flex;
    gap: 30%;
    align-items: center;
    width: 100%;
    justify-content: end;
}

.form-field span {
    flex-direction: column;
    flex: 1; /* Ensure equal distribution of space for expiration and CVV */
    max-width: 200px;
}

input {
    padding: 10px;
    font-size: 12pt;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%; /* Make inputs take up the full width of their container */
    box-sizing: border-box; /* Include padding in width calculation */
}

input:focus {
    border-color: #00ff00;
    outline: none;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}

label {
    color: #cfffe0;
    display: inline-block;
    text-align: left;
    font-size: 12pt;
}

#submitButton {
    background-color: #17ad4c;
    max-width: 400px;
    margin: 10px auto;
    display: block; 
}

#submitButton:hover {
    background-color: #29cf63;
}
