body {
    background-color: rgb(24, 33, 24);
    color: white;
    font-family: 'Arial';
    margin: 20px;
}

#page-header {
    font-family: 'Arial Black';
    justify-content: center;
    margin-top: 50px;
    margin-left: 10%;
}

form {
    max-width: 600px; 
    margin: 0 auto;
}

fieldset {
    height: 430px;
    border: 2px solid #ccc;
    padding: 20px;
    margin-top: 50px;
    border-radius: 8px;
    background-color: rgb(50, 80, 50);
} 


.form-field {
    display: flex;
    gap: 30%;
    align-items: center;
    width: 100%;
    justify-content: end;
}

.form-field span {
    flex-direction: column;
    flex: 1; 
    max-width: 200px;
}

input {
    padding: 10px;
    margin-bottom: 25px;
    font-size: 12pt;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%; 
    box-sizing: border-box; 
}

input:focus {
    border-color: #00ff00;
    outline: none;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}

.input-error {
    font-size: 10pt;
}

label {
    color: #cfffe0;
    display: inline-block;
    text-align: left;
    font-size: 12pt;
}

#submitButton {
    background-color: #17ad4c;
    color: #cfffe0;
    height: 60px;
    display: block; 
    border: none;
}

#submitButton:hover {
    background-color: #29cf63;
}
